snippet L
<Leader>
endsnippet

snippet nm
nmap
endsnippet

snippet im
imap
endsnippet

snippet vm
vmap
endsnippet

snippet nnr
nnoremap
endsnippet

snippet inr
inoremap
endsnippet

snippet vnr
vnoremap
endsnippet
